

.drag-and-drop-page {
    text-align: center;

    &-background {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }
}

.pokemon {
    list-style: none;
    padding: 0;
  }
  
  .fancy-index-flex {
    display: flex;
    align-items: center;
  }
  
  .fancy-index {
    margin-right: 50px;
  }
  .pokemon li {
    border: solid 2px #d0d0d0;
    border-radius: .2em;
    margin-bottom: 1em;
    padding: .5em 1em;
    width: 20rem;
  }
  .dynamic-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: .5em;
  }
  
  .pokemon p {
    max-width: none;
    font-weight: bold;
    margin: 0;
  }
  
  .character-thumb img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .link-anchor {
    text-decoration: none;
    color: red;
  }